.hero-brand-background {
  position: relative;
  overflow: hidden; /* Menyembunyikan bagian gambar yang mungkin keluar dari div */
  width: 100%;
  height: 100%;
}

.hero-brand-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: url("/images/3d-of-planet-world-earth-globe-realistic-sculpted-plastic-highly-detail-transparent-background-free-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotateBackground 10s linear infinite;
  filter: brightness(50%);
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg); /* Mulai dengan rotasi 0 derajat */
  }
  to {
    transform: rotate(360deg); /* Putar 360 derajat */
  }
}
